/.build/
/_build/
/Build
/Build.bat
/blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj
*.c
*.tar.gz

Makefile
Makefile.old
Zstd.bs
constants.h 
constants.xs
pm_to_blib

!LICENSE

MYMETA.*

/Compress-Zstd-*
